{% extends "hello/base.html" %}

{% block pagetitle %} Login Page {% endblock %}

{% block csslinks %} 
<link rel="stylesheet" type="text/css" href="/static/hello/style.css">    
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
        <form  method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{form}}
            <input name="login_submit" type="submit" value="submit" />
        </form>
    <div><a href="{% url 'main' %}">cancel</a></div>
{% endblock %}

