{% extends "base.html" %}

{% block pagetitle %} First Ten Requests {% endblock %}

{% block csslinks %} 
{% endblock %}

{% block title %}
    First ten requests that are stored by middleware
{% endblock %}

{% block content %}

    {% if requests %}
        {% for r in requests %}
            <p class="request_record">{{forloop.counter}}. {{r}}</p>
        {% endfor %}
    {% else %}
        <!-- impossible to achive this line so far as to get on this page an html request should be made -->
        <p>No requests are available.</p> 
    {% endif %}

    <div><a href="{% url 'main' %}">main</a></div>

{% endblock %}